---
title: "Resources"
layout: "../layouts/BlogLayout.astro"
---

<h1>Resources</h1>
<ul>
  <li><a href="#">Top Amazon Picks</a></li>
  <li><a href="#">Travel Tools</a></li>
  <li><a href="#">Outdoor Gear</a></li>
</ul>
