---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/blog/blog">Blog</a> |
    <a href="/resources">Resources</a> |
    <a href="/contact">Contact</a>
  </nav>
  <main>
    <slot />
  </main>
  <footer>
    <p>&copy; 2025 GearMuse</p>
  </footer>
</body>
</html>
